---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const meta = {
	title: "Luis Fernando CS",
	description:
		"Student at Engineer - Microsoft Learn Student Ambassadors - Lead at Podcast MLSA Latinoamerica, #JavaScript #React #UI/UX #Azure #Python",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-2">{meta.title}</h1>
		<div class="mb-4 flex items-center justify-between">
			<p class="mr-8">
				{meta.description}
			</p>
			<figure>
				<img
					class="w-48 rounded-lg"
					src="public/profile.png"
					alt="Fernando"
					width="48"
					height="48"
				/>
			</figure>
		</div>
		<SocialList />
		<div class="flex items-center justify-center p-10">
			<a href="public/cv.pdf" download>
				<button class="rounded bg-accent px-4 py-2 font-semibold text-black">📃Donwload CV</button>
			</a>
		</div>
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<section class="flex w-80 flex-wrap items-center justify-center gap-2 md:w-full">
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-black p-2"
				><img src="/public/svg/reactIcon.svg" width="49" height="49" alt="react" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-black p-2"
				><img src="/public/svg/javascriptIcon.svg" width="49" height="49" alt="javascript" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-black p-2"
				><img src="/public/svg/nodeIcon.svg" width="49" height="49" alt="node" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-black p-2"
				><img src="/public/svg/tailwindIcon.svg" width="49" height="49" alt="tailwind" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-white p-2"
				><img src="/public/svg/astroIcon.svg" width="49" height="49" alt="tailwind" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-white p-2"
				><img src="/public/svg/StorybookIcon.svg" width="49" height="49" alt="tailwind" /></span
			>

			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-black p-2"
				><img src="/public/svg/figmaIcon.svg" width="29" height="29" alt="tailwind" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-black p-2"
				><img src="/public/svg/GraphqlIcon.svg" width="49" height="49" alt="tailwind" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-black p-2"
				><img src="/public/svg/firebaseIcon.svg" width="49" height="49" alt="tailwind" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-white p-2"
				><img src="/public/svg/vercelIcon.svg" width="49" height="49" alt="tailwind" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-white p-2"
				><img src="/public/svg/GitIcon.svg" width="49" height="49" alt="tailwind" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-white p-2"
				><img src="/public/svg/NpmIcon.svg" width="49" height="49" alt="tailwind" /></span
			>
			<span class="card flex h-16 w-16 items-center justify-center rounded-md bg-black p-2"
				><img src="/public/svg/ViteIcon.svg" width="49" height="49" alt="tailwind" /></span
			>
		</section>
		<section aria-label="Blog post list" class="mt-16">
			<h2 class="title mb-4 text-xl">Posts</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					allPostsByDate.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section>
	</section>
</PageLayout>
